* {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    color: #049ff8;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
}
.logo i{
    color: #049ff8;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 40px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
li{
    border-bottom: 1px solid black;
}
li a:hover{
    color: #049ff8;
    border-bottom: 2px solid #049ff8;
}
.nav-links a:active {
    color: #049ff8;
    border-bottom: 2px solid #049ff8;
}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.container form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

header h1 {
    color: #3498db;
}

form {
    display: flex;
    flex-direction: column;
    background: url(img/bgproject.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5 10px rgba(255, 252, 252, 0.1);

}
h2{
    text-align: center;
    margin-top: 50px;
}

table {
    width: 100%;
    margin-bottom: 16px;
    border-collapse: collapse;
}
input{
    padding: 8px;
    margin-bottom: 15px;
    outline: none;
    background-color: #2f2f2f;
    border: none;
}
th, td {
    padding: 15px;
    text-align: center;
}
input[type=radio]{
    margin-bottom: -10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
textarea{
    resize: none;
    margin-bottom: 20px;
    outline: none;
    background-color: #2f2f2f;
    border: none;
}


button:hover {
    background-color: #2980b9;
}
@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }
    .nav-links a{
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(12, 133, 240);
        border: 2px solid rgb(16, 16, 16);
        padding: 3px;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: flex;
    }
}





@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
    }
    img{
        max-width: 100%;
        height: auto;
        min-width: 0;
    }
    .col-left{
        margin: 0;
    }
}

@media screen and (max-width: 560px) {
    .col-left{
        text-align: center;
        transition: 0.5s ease;
        margin: 0;
    }
    .col-right{
        text-align: center;
        transition: 0.5s ease;
        margin: 0;
    }
    .nav-links a:hover{
        color: #000000;
    }
    .logos{
        margin-top: 20px;
    }
    
}