body {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #049ff8;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

li {
    border-bottom: 1px solid black;
}

li a:hover {
    color: #049ff8;
    border-bottom: 2px solid #049ff8;
}

.nav-links a:active {
    color: #049ff8;
    border-bottom: 2px solid #049ff8;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}


.col-left,
.col-right {
    padding: 20px;
}

.col-left label,
.col-right h2,
.col-right h4,
.col-right p {
    color: #ffffff;
}

.col-left input,
.col-left textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0px 10px;
    background-color: #2f2f2f;
    border: 1px solid #333;
    color: #ffffff;
    resize: none;
}

.col-left input[type=submit] {
    background-color: #049ff8;
    color: #fff;
    cursor: pointer;
    width: 50%;
}

.col-right h2 {
    margin-bottom: 20px;
}
.col-right{
    text-align: center;
}
.col-left{
    background: url(img/bgproject.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.logos a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (max-width: 560px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none; /* Hide the navigation links initially for smaller screens */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        left: 0;
        width: 100%;
        background-color: #000000;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .nav-links.show {
        display: flex; 
    }

    .nav-links li {
        margin-right: 0;
        border-bottom: 1px solid white;
    }

    .nav-links a {
        color: white;
    }
}
