* {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    color: #049ff8;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 40px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
li{
    border-bottom: 1px solid black;
}
li a:hover{
    color: #049ff8;
    border-bottom: 2px solid #049ff8;
}
nav a.active{
    color: #049ff8;
    border-bottom: 2px solid #049ff8;
}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

#bot{
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;

}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }
    .nav-links a{
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(12, 133, 240);
        border: 2px solid rgb(16, 16, 16);
        padding: 3px;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: flex;
    }
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-family: 'lato';
    font-size: 14px;
}
.col-left, .col-right{
    padding: 20px;
    color: #fff;
}
.col-left{
    margin-top: 10%;
    margin-left: 30px;
}
.col-left span{
    color: #049ff8;
}
.col-left h1{
    font-size: 3.5rem;
}
.col-left p{
    font-size: 1.1rem;
}

.col-right{
    text-align: center;
    margin-right: 20%;
}
.col-right i {
    padding: 0 10px;
}
.content img {
    max-width: 100%;
    transform: scale(1.1);
    height: auto;
    margin-top: 20px;
}
.content h2{
    color: #049ff8;
    padding: 10px;
}
.logos{
    margin: 20px;
    transform: scale(1.5);
}
.logos a i{
    text-decoration: none;
    color: #fff;
}
.logos a i:hover{
    text-decoration: none;
    color: #049ff8;
    border-bottom: 5px dotted #049ff8;
    transition: 1.3s ease;
}
.button{
    font-size: 1.1rem;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid #049ff8;
    cursor: pointer;
}
.button:hover{
    background:linear-gradient(to right, #049ff8, #049ff8,#335ef8);
    transition: 1.8s ease-in-out;
}



@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* On smaller screens, switch to a single column layout */
    }
    img{
        max-width: 100%;
        height: auto;
        min-width: 0;
    }
    .col-left{
        margin: 0;
    }
}

@media screen and (max-width: 560px) {
    .col-left{
        text-align: center;
        transition: 0.5s ease;
        margin: 0;
    }
    .col-right{
        text-align: center;
        transition: 0.5s ease;
        margin: 0;
    }
    .nav-links a:hover{
        color: #000000;
    }
    .logos{
        margin-top: 20px;
    }
    
}